.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  h1 {
    font-size: 2rem;
  }

  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      margin-right: 1.5rem;
    }
  }

  .header__cart {
    position: relative;
    a {
      font-size: 1.3rem;
      color: white;
      text-decoration: none;
    }

    .header__count {
      position: absolute;
      top: -0.8rem;
      right: -1rem;
      background-color: red;
      border-radius: 50%;
      width: 1.4rem;
      height: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.input {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
    -webkit-transition-delay: 9999s;
  }
}
