.header__util {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  border-bottom: 2px solid $green;

  .header__loginCart {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;

  h1 {
    font-size: 2rem;
  }

  .header__links {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: $green;
      text-decoration: none;
      margin-right: 1.5rem;
    }
  }
}

.header__cart {
  position: relative;
  a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
  }

  .header__count {
    position: absolute;
    top: -0.8rem;
    right: -1rem;
    background-color: red;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.link {
  color: $green;
  font-size: 1.2rem;
}

.header__loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  position: relative;
  text-decoration: none;
  color: black;
  cursor: pointer;

  .header__count {
    position: absolute;
    top: -0.8rem;
    right: -0.3rem;
    background-color: red;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.header__loginContainer::before {
  content: '';
  background-color: $green;
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: -0.5rem;
}

.header__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  color: white;
  padding: 0.5rem;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media (max-width: 33.75em) {
  header {
    .header__util {
      padding: 1rem 1rem;
    }

    .header__links {
      flex-direction: column;
      gap: 1rem;
    }
  }
}
