.products {
  color: $green;
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-align: start;
  gap: 1rem;

  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    background-color: #f7f7f7;
    display: flex;
    margin: 0 auto;
  }
}

.product {
  position: relative;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 5px;

  h2 {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  h3 {
    text-align: center;
    margin: 1rem 0;
  }

  .desc {
    margin: 1rem 0;
  }

  .cart {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    color: white;
    background-color: $green;
    padding: 0.7rem;
    border-radius: 20px;
    transition: box-shadow 300ms ease;

    svg {
      margin-left: 1rem;
    }
  }

  .cart:hover {
    box-shadow: 0px 0px 10px black;
  }
}

@media (max-width: 65.625em) {
  .products {
    grid-template-columns: repeat(2, 15rem);
  }
}

@media (max-width: 33.125em) {
  .products {
    grid-template-columns: repeat(1, 15rem);
  }
}
