.customer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem;

  .customer__row {
    margin-top: 3rem;
    width: 22.0625rem;
    h2 {
      font-size: 1.3rem;
    }

    p {
      margin: 1rem 0;
    }

    svg {
      font-size: 2rem;
    }
  }
}
