@import './Sass/util.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  // background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

//
//
//
//
//
//
//

@import './Sass/header.scss';

@import './Sass/product.scss';

@import './Sass/Home/swiper.scss';

@import './Sass/Home/grid.scss';

@import './Sass/Home/customerService.scss';

@import './Sass/footer.scss';

@import './Sass/cart.scss';
